html {
    margin:0;
}
span{
    display: block;
}
/* .canvas{
    margin: 50px;
    width:80%;
    text-align: center;
} */
.button{
    width :100px;
    height: 100px;
    border:solid black 2px;
    display: inline-block;
}
#grey{
    background: grey;
}
#white{
    background: white;
}
#blue{
    background: blue;
}
#yellow{
    background: yellow;
}
.btn1{
    
    display: inline-flex;
    justify-content: center;
    align-items: center;

    background-color: lightblue;
    color: #d27b7b;
    text-decoration:none;

    width:100px;
    height: 40px;
    
    border:1px solid #d27b7b;
    border-radius: 5%;
    
}
.navbar{
    display:flex;
    justify-content: center;
    align-items: center;
    height:200px;
    gap: 15px;
    border: 1px solid #d27b7b;
    border-radius: 5%;

    height: 50px;
}
.main-container{
    
    
    display: flex;
    flex-direction: column  ;
    align-items:center;
    justify-content: center;
    min-height: 70vh;
    gap:15px;
}

.color-buttons {
    display: flex;
    gap: 10px;
}
